<link rel="stylesheet" href="~/css/footer/footer.css" />
<footer class="footer-container">
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2024 ChicClothS. All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
            <div class="social-media">
                <a href="#"><img src="/css//assets/logo/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/css//assets/logo/Instagram_logo_2022.svg" alt="Instagram"></a>
                <a href="#"><img src="/css//assets/logo/twitter.png" alt="Twitter"></a>
            </div>
        </div>
    </div>
</footer>