<link rel="stylesheet" href="~/css/header/header.css" />

<header class="header-container">
    <div class="logo">
        <h1>ChicClothS</h1>
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="#">Women</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Basket</a></li>
        </ul>
    </nav>
    <div class="login-basket">
        <ul>
            <li><a href=""><i class="fas fa-user"></i> Login</a></li>
            <li><a href="/users/add"><i class="fas fa-user"></i> Register</a></li>
            <li><a href=""><i class="fas fa-shopping-basket"></i> Basket</a></li>
        </ul>
    </div>
</header>